{% extends "layout.html" %}
{% block body %}
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">Question</h2>
    Question: {{ qtext }}

    <div class = "stats">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#descripModal">
    Descriptives
    </button>
    <div class="modal" id="descripModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">All entries</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>


                <div class="modal-body">
                    <h2 class="subtitle">Descriptives</h2>
                    {{ descrip|safe }}
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#countsModal">
    Value Counts
    </button>
    <div class="modal" id="countsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">All entries</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>


                <div class="modal-body">
                    <h2 class="subtitle">Value Counts</h2>
                    {{ value_counts|safe }}
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class = "chart">
    <h2 class="subtitle">Chart</h2>
    <img src="{{ chart }}" alt="Count Plot {{ title }}">
    </div>

{% endblock %}